*{
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-style: normal;
	font-variant: normal;

}

ul{
    list-style-type: none;
}

h1{
  padding-top: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  line-height: 26.4px;
  font-size: 30px;
}


#links{
  padding-top: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;       /* the same as your div height */
}

.reference{
  padding-left: 20px;
}
